@inject IStringLocalizer<AccountController> Localizer
@model SimpleNotesApp.ViewModels.LoginViewModel
@{
    Layout = "_AuthLayout";
    ViewData["Title"] = "Giriş Yap";
}

@section Styles {
    <link rel="stylesheet" href="~/css/auth/auth.css" asp-append-version="true">
}

<div class="auth-container py-5">
    <div class="auth-card-wrapper">
        <div class="row justify-content-center align-items-center">
            <div class="col-12 col-md-8 col-lg-6">
                @if (TempData["Success"] != null)
                {
                    <div class="alert alert-success alert-dismissible fade show" role="alert" id="alertClose">
                        @TempData["Success"]
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                }
                @if (TempData["Error"] != null)
                {
                    <div class="alert alert-danger alert-dismissible fade show" role="alert" id="alertClose">
                        @TempData["Error"]
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                }
                <div class="card card-login shadow-lg border-0 rounded-lg">
                    <div class="card-header card-header-login text-white d-flex justify-content-between align-items-center">
                        <h3 class="text-center font-weight-light my-2 flex-grow-1">Simple Notes App</h3>
                        <div class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-white" href="#" id="languageDropdown" role="button" data-bs-toggle="dropdown">
                                <i class="bi bi-globe fs-5"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end bg-dark">
                                <li>
                                    <a class="dropdown-item text-light text-center" href="#" onclick="changeCulture('tr-tr')">
                                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b4/Flag_of_Turkey.svg/2560px-Flag_of_Turkey.svg.png" alt="TR Flag" width="20" class="me-2"> Turkish
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item text-light text-center" href="#" onclick="changeCulture('en-us')">
                                        <img src="https://flagpedia.net/data/flags/h80/gb.png" alt="EN Flag" width="20" class="me-2"> English
                                    </a>
                                </li>        
                            </ul>
                        </div>
                    </div>
                    <div class="card-body p-4">
                        <form asp-controller="Account" asp-action="Login" method="post">
                            <input type="hidden" name="returnUrl" value="@ViewData["ReturnUrl"]" />
                            <div asp-validation-summary="All" class="text-danger mb-3"></div>
                            <div class="form-floating mb-3">
                                <input asp-for="Email" class="form-control" placeholder="name@example.com" />
                                <label asp-for="Email">@Localizer["EmailPlaceholder"]</label>
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                            
                            <div class="form-floating mb-3">
                                <input asp-for="Password" class="form-control" placeholder="Şifre" />
                                <label asp-for="Password">@Localizer["PasswordPlaceholder"]</label>
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                            
                            <div class="form-check mb-4">
                                <input asp-for="RememberMe" class="form-check-input border-primary" />
                                <label asp-for="RememberMe" class="form-check-label">@Localizer["RememberMe"]</label>
                            </div>
                            
                            <div class="text-end mb-3">
                                <a asp-action="ForgotPassword" class="text-decoration-none">@Localizer["ForgotPasswordTitle"]</a>
                            </div>
                            
                            <div class="login-button">
                                <button type="submit" class="btn btn-primary btn-lg">@Localizer["HomePageTitle"]</button>
                            </div>
                        </form>
                    </div>
                    <div class="login-card-footer text-center py-3">
                        <div class="small text-white">
                            @Localizer["DontHaveAnAccount"] <a asp-action="Register" class="text-light">@Localizer["RegisterPageTitle"]</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}